<div class="container-fluid bg-light p-lg-5  p-3 text-center">
  <div class="p-lg-5 m-3">
    <h2 class="fw-bold">Connect with us</h2>
    <hr class="mx-auto underline_style" >
    <p class="mb-4">Reach out on WhatsApp or give us a call for the best home design experience.</p>
    
    <button type="button" class="btn btn-custom-rounded  d-inline-flex align-items-center mx-2 my-2 " data-bs-toggle="modal" data-bs-target="#exampleModal">
    <i class="fas fa-phone fs-3 mx-2"></i> Call Now
    </button>
    <%= link_to 'https://chat.whatsapp.com/GPpTImXpCS934AgEnabWef', target: '_blank', class: 'btn btn-custom-rounded d-inline-flex align-items-center mx-2 my-2'  do %>
      <i class="fab fa-whatsapp fs-3 mx-2"></i>
      <span class="ml-2">Get in Touch with WhatsApp</span>
    <% end %> 
  </div>
</div>
<!-- modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
        <%= render 'form' %>
    </div>
  </div>
</div>