
<div class="container p-lg-5">
  <h2 class="fw-bold text-center">Design & Build Process</h2>
  <div class="progress-bar py-4 step-wrapper">
    <div class="progress-step">
      <div class="step-count">1</div>
      <div class="step-description">Book a meeting</div>
    </div>
    <div class="progress-step ">
      <div class="step-count">2</div>
      <div class="step-description">Space planning & Design Conceptualization</div>
    </div>
    <div class="progress-step">
      <div class="step-count">3</div>
      <div class="step-description">Cost Finalization</div>
    </div>
    <div class="progress-step">
      <div class="step-count">4</div>
      <div class="step-description">Site Excecution</div>
    </div>
    <div class="progress-step">
      <div class="step-count">5</div>
      <div class="step-description">Handover</div>
    </div>
  </div>
</div>