<a href="https://chat.whatsapp.com/GPpTImXpCS934AgEnabWef" target="_blank" class="btn btn-success  socialIcon whatsappIcon btn-sm ">
  <i class="fab fa-whatsapp iconSize"></i> 
</a>
<a href="https://www.instagram.com/ishana_interio/" target="_blank" class="btn btn-danger socialIcon instagramIcon btn-sm ">
  <i class="fab fa-instagram iconSize"></i> 
</a>
<a href="https://www.linkedin.com/company/ishana-interio" target="_blank" class="btn btn-primary socialIcon linkedinIcon btn-sm ">
  <i class="fab fa-linkedin iconSize"></i> 
</a>
